.notification-text{
  color:white;
  font-family:Poppins,sans-serif;
  font-size:13px; 
}

.notification-heading{
  font-size:16px;
  color:white;
  font-family:Poppins,sans-serif; 
  font-weight: 400;
}

.end-sidenav-heading{
  font-size: 18px;
  font-family: Poppins,sans-serif;
  color: rgba(255,255,255,.7);
  font-weight: 500;
}

.sidenav-width{
  width: 300px;
}

.rtl{
  font-size: 20px;
}

.ripple{
  font-size: 20px;
  font-family:Poppins,sans-serif;
}

.red{
  color: #fc4b6c!important;
}

.green{
  color: #00897b;
}

.blue{
  color: #1e88e5!important;
}

.close-icon{
  width: 50px;
  width:50px;
}

.notification-header{
  font-size:23px;
  color:white;
  font-family:Poppins,sans-serif; 
  border-bottom: 1px solid rgba(120,130,140,.13);
  font-weight: 500;
}

.rounded-img{
  border-radius: 50%;
}

.notification-width{
    width: 300px;
}

.search-bar{
    width: 5000px;
}