<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer fxFlex="20" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <div fxLayout="column" class="sidebar-img" fxLayoutGap="60px">
      <div fxFlex="5"></div>
      <div fxFlex="20">
        <div fxLayout="row">
          <div fxFlex="10"></div>
          <div fxFlex="30">
            <img src="../assets/profile.png" height="60px" width="60px">
          </div>
        </div>
      </div>
      <div fxFlex="40">
        <div class="background">
          <a [matMenuTriggerFor]="menu">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
              <div class="sidebarUserName" fxflex="20"> Markarn Doe</div>
              <div fxFlex="20">
                <mat-icon class="md-24">expand_more</mat-icon>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>



    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon svgIcon="setting"></mat-icon>
        <span>Setting</span>
      </button>

      <button mat-menu-item>
        <mat-icon svgIcon="myprofile"></mat-icon>
        <span>Profile</span>
      </button>

      <button mat-menu-item>
        <mat-icon svgIcon="disablenotification"></mat-icon>
        <span>Disable notification</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="signout"></mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>


    <mat-nav-list>
      <mat-toolbar class="sidenav-list-heading"><b>Personal</b></mat-toolbar>

      <a mat-list-item href="#">
        <div fxLayout="row" fxLayoutGap="7px">
          <div fxFlex></div>
          <div fxFlex="20" class="sidenav-color">
            <mat-icon class="md-24 ">av_timer</mat-icon>
          </div>
          <div class="sidenav-list" fxFlexFill>
            Dashboard
          </div>
          <!-- <div fxFlex="5" class="sidenav-color"> <mat-icon class="md-24">expand_more</mat-icon></div> -->

        </div>
      </a>


      <a mat-list-item href="#">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex></div>
          <div fxFlex="20" class="sidenav-color">
            <mat-icon svgIcon="material"></mat-icon>
          </div>
          <div class="sidenav-list" fxFlexFill>
            Material Ui
            <span class="label">17</span>

          </div>
        </div>
      </a>

      <a mat-list-item href="#">
        <div fxLayout="row" fxLayoutGap="15px">
          <div fxFlex></div>
          <div fxFlex="20" class="sidenav-color">
            <mat-icon svgIcon="app"></mat-icon>
          </div>
          <div class="sidenav-list" fxFlexFill>
            Apps
          </div>
          <div fxFlex="5" class="sidenav-color">
            <mat-icon class="md-24">expand_more</mat-icon>
          </div>

        </div>
      </a>

      <mat-toolbar class="sidenav-list-heading"><b>Forms,Table & Widgets</b></mat-toolbar>



      <a mat-list-item href="#">
        <div fxLayout="row" fxLayoutGap="13px">
          <div fxFlex></div>
          <div fxFlex="20" class="sidenav-color">
            <mat-icon svgIcon="forms"></mat-icon>
          </div>
          <div class="sidenav-list" fxFlexFill>
            Forms
          </div>
          <div fxFlex="5" class="sidenav-color">
            <mat-icon class="md-24">expand_more</mat-icon>
          </div>
        </div>
      </a>

      <a mat-list-item href="#">
        <div fxLayout="row" fxLayoutGap="13px">
          <div fxFlex></div>
          <div fxFlex="20" class="sidenav-color">
            <mat-icon svgIcon="table"></mat-icon>
          </div>
          <div class="sidenav-list" fxFlexFill>
            Tables
          </div>
          <div fxFlex="5" class="sidenav-color">
            <mat-icon class="md-24">expand_more</mat-icon>
          </div>
        </div>
      </a>

      <a mat-list-item href="#">
        <div fxLayout="row" fxLayoutGap="11px">
          <div fxFlex></div>
          <div fxFlex="20" class="sidenav-color">
            <mat-icon class="md-24">widgets</mat-icon>
          </div>
          <div class="sidenav-list" fxFlexFill>
            widgets
          </div>
          <div fxFlex="5" class="sidenav-color">
            <mat-icon class="md-24">expand_more</mat-icon>
          </div>
        </div>
      </a>

      <mat-toolbar class="sidenav-list-heading"><b>Extra Component</b></mat-toolbar>
      <a mat-list-item href="#">
        <div fxLayout="row" fxLayoutGap="12px">
          <div fxFlex></div>
          <div fxFlex="20" class="sidenav-color">
            <mat-icon class="md-24">assignment_ind</mat-icon>
          </div>
          <div class="sidenav-list" fxFlexFill>
            Authemtication
          </div>

        </div>
      </a>


      <a mat-list-item href="#">
        <div fxLayout="row" fxLayoutGap="13px">
          <div fxFlex></div>
          <div fxFlex="20" class="sidenav-color">
            <mat-icon class="md-24">poll</mat-icon>
          </div>
          <div class="sidenav-list" fxFlexFill>
            Charts
          </div>
          <div fxFlex="5" class="sidenav-color">
            <mat-icon class="md-24">expand_more</mat-icon>
          </div>
        </div>
      </a>


      <a mat-list-item href="#">
        <div fxLayout="row" fxLayoutGap="13px">
          <div fxFlex></div>
          <div fxFlex="20" class="sidenav-color">
            <mat-icon class="md-24">filter_none</mat-icon>
          </div>
          <div class="sidenav-list" fxFlexFill>
            Pages
          </div>
          <div fxFlex="5" class="sidenav-color">
            <mat-icon class="md-24">expand_more</mat-icon>
          </div>
        </div>
      </a>


      <a mat-list-item href="#">
        <div fxLayout="row" fxLayoutGap="4px">
          <div fxFlex></div>
          <div fxFlex="20" class="sidenav-color">
            <mat-icon class="md-24">star</mat-icon>
          </div>
          <div class="sidenav-list" fxFlexFill>
            Menu Levels
          </div>
          <div fxFlex="5" class="sidenav-color">
            <mat-icon class="md-24">expand_more</mat-icon>
          </div>
        </div>
      </a>





    </mat-nav-list>

  </mat-sidenav>





  <mat-sidenav-content fxFlex>


    <mat-toolbar fxLayout="row" color="primary" *ngIf="temp">
      <span fxFlex="17">

        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>MATERIAL <span>PRO</span></span>
         <mat-icon class="md-24" (click)="myFunction()">search</mat-icon>
      </span>

      <span fxFlex="78">

        <app-toolbar></app-toolbar>
      </span>
      <span fxFlex="5" fxLayoutAlign="center center">

        <mat-icon (click)="drawer1.toggle()" class="md-50">settings</mat-icon>

      </span>
    </mat-toolbar>

    <mat-toolbar *ngIf="!temp" style="background-color:white;"   >
      <div fxLayout="row"  class="sidebar-color">
        <div fxFlex="70" fxFill>
        <input  class="search-bar" placeholder="Search & enter">
      </div>
       
      </div>

      <!-- <div fxLayout="row">
        <div fxFlex fxLayout="row" fxFill>
          <input type="text" >
        </div>
      </div> -->
      
      
    </mat-toolbar>


    <br>
    <!-- <br> -->

    <app-home></app-home>

    <!-- Add Content Here -->
  </mat-sidenav-content>
  <mat-sidenav class="sidenav-width" #drawer1 opened mode="push" position="end" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <div class="close-icon">
      <mat-icon (click)="drawer1.toggle()" class="close-icon" svgIcon="close"></mat-icon>
    </div>


    <div fxLayout="column" fxLayoutGap="30px">

      <div fxFlex="10">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="10"></div>
          <div fxFlex="40" class="end-sidenav-heading">Setting</div>
        </div>
      </div>

      <div fxFlex="10">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="10"></div>
          <div fxFlex="40">
            <mat-slide-toggle class="rtl">RTL</mat-slide-toggle>
          </div>
        </div>
      </div>

      <div fxFlex="10">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="10"></div>
          <div fxFlex="60">
            <mat-slide-toggle class="rtl">Boxed Layout</mat-slide-toggle>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div fxFlex="10">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="10"></div>
          <div fxFlex="40" class="end-sidenav-heading">Colors</div>
        </div>
      </div>

      <div fxFlex="10">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="10"></div>
          <div fxFlex="60" class="ripple red">
            <mat-checkbox>Red</mat-checkbox>
          </div>
        </div>
      </div>

      <div fxFlex="10">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="10"></div>
          <div fxFlex="60" class="ripple green">
            <mat-checkbox>Teal Green</mat-checkbox>
          </div>
        </div>
      </div>

      <div fxFlex="10">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="10"></div>
          <div fxFlex="60" class="ripple blue">
            <mat-checkbox>Blue</mat-checkbox>
          </div>
        </div>
      </div>
    </div>

  </mat-sidenav>


</mat-sidenav-container>