.sidenav-container {
  height: 100%;
  margin: -8px;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit; 
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #2196f3;
  height: 80px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.sidebar-img{
  height: 200px;
  width: 300px;
  background-image: url('/assets/sidebar.jpg');
   }

.sidebarUserName{
  font-size: 20px;
  color: #fff!important;
  font-family: Poppins,sans-serif;
}

.row-color{
  background-color: rgba(0,0,0,.5);
}

.background{
  height: 40px;
  width: 300px;
  background-color: rgba(0,0,0,.5);
}

.sidebar-profile-img{
  margin-top: 30px;
  margin-left: 20px;
}

.sidenav-list{
  font-size: 19px;
  font-family: Poppins,sans-serif;
  color: #99abb4!important;
  

}

.sidenav-color{
  color: #99abb4!important;
}

.sidenav-list-heading[class]{
  color: #99abb4!important;
  font-family: Poppins,sans-serif;
  font-size: 15px;
  background: rgba(128, 128, 128, 0.315);
  height: 30px;

}

.notification-text-color{
  color: white;
}

.label {
  margin-left: 10px;
  color: #fff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 15px;
  background-color: red;
  padding: 3px 10px;
}

.end-sidenav-heading{
  font-size: 18px;
  font-family: Poppins,sans-serif;
  color: rgba(255,255,255,.7);
  font-weight: 500;
}

.sidenav-width{
  width: 250px;

}

.rtl{
  font-size: 20px;
}

.ripple{
  font-size: 20px;
  font-family:Poppins,sans-serif;
}

.red{
  color: #fc4b6c!important;
}

.green{
  color: #00897b;
}

.blue{
  color: #1e88e5!important;
}

.close-icon{
  width: 50px;
  width:50px;
}

mat-list-item.selected{
  background-color: #fc4b6c;
}

.is-active{
  background: #26c6da;
  border-radius: 4px;
  color: #fff;
}

.search-bar{
  width:100%;
  border: none;
  
}

// .sidebar-color {
//   position: sticky;
//   top: 0;
//   z-index: 1;
//   background-color:white;
//   height: 80px;
// }








