.firstrow
{
  background-color:rgba(128, 128, 128, 0.315);
  height: 125px;
 border-radius: 3%;
  
  
}

.secondrow
{
  background-color:rgba(128, 128, 128, 0.315);
  height: 500px;
  border-radius: 3%;

}

.thirdrow1
{
  background-color:rgba(19, 151, 228, 0.884);
  height: 200px;
  border-radius: 3%;


}
.thirdrow
{
  background-color:rgba(137, 79, 202, 0.884);
  height: 200px;
  border-radius: 3%;

}
.thirdrow3
{
  background-color:rgba(63, 236, 236, 0.884);
  height: 200px;
  border-radius: 3%;
}

.thirdrow3
{
  background-color:rgba(63, 236, 236, 0.884);
  height: 200px;

}
.fourthrow1
{
  background-color:rgba(128, 128, 128, 0.315);
  height: 470px;
  border-radius: 3%;

}

.fourthrow2
{
  background-color:rgba(128, 128, 128, 0.315);
  height: 500px;
  border-radius: 3%;

}



.circle
{
  height: 70px;
  width: 70px;
  
  // border: 1px solid white;
  border-radius:50%;
  margin-left: 20%;
  margin-top: 30%;
  text-align: center;
}
.circle-1
{
  background-color: rgb(47, 226, 226);
}


.circle-yellow
{
  background-color: rgb(238, 129, 66);
}
.circle-blue
{
  background-color: rgb(47, 80, 226);
}
.circle-pink
{
  background-color: rgb(226, 47, 101);
}
.image
{
  margin-top: 38%;
  
}

.iconalign
{
  
  // background-color:blue;
  text-align: center;
}

.first-row-text
{
  margin-top: 42px;
  // font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  
  
}

.rounded-border
{
  border-radius: 20px;
}

.third-row-text
{
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.third-text1
{
  font-size: 25px;

}

.third-text2
{
  font-size: 15px;
  margin-top: 10px;

}

.third-text3
{
  font-size: 35px;

}

.button
{
  font-size:25px;
  margin-left: 10px;
}

.profile-text
{
  margin-top: 60px;
  margin-left: 90px;
}

.profile-button
{
  font-size:25px;
  margin-left: 160px;

}

.profile-font
{
  font-size: 25px;
}