<div fxLayout="column" fxLayoutGap="20px">

  <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="20" class="firstrow">
      <div fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="10"></div>
        <div fxFlex="20">
          <div fxLayout="row" fxLayoutGap="30px">
            <div fxFlex="10"></div>
            <div fxFlex="20">
              <div fxLayout="column" class="circle circle circle-1" fxLayoutGap="15px">
                <div fxFlex="10"></div>
                <div fxFlex="10">
                  <mat-icon class="md-24">account_circle </mat-icon>
                </div>
              </div>
            </div>
            <div fxFlex="40">
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxFlex="10"></div>
                <div fxFlex="10" class="NewClients-text">
                  <b> 386 </b>
                  <div class="newClients-color">New clients</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div fxFlex="20" class="firstrow">
      <div fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="10"></div>
        <div fxFlex="20">
          <div fxLayout="row" fxLayoutGap="30px">
            <div fxFlex="10"></div>
            <div fxFlex="20">
              <div fxLayout="column" class="circle-yellow circle" fxLayoutGap="15px">
                <div fxFlex="10"></div>
                <div fxFlex="10">
                  <mat-icon class="md-24">local_mall </mat-icon>
                </div>
              </div>
            </div>
            <div fxFlex="40">
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxFlex="10"></div>
                <div fxFlex="10" class="NewClients-text">
                  <b> 2408 </b>
                  <div class="newClients-color">All Projects</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div fxFlex="20" class="firstrow">
      <div fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="10"></div>
        <div fxFlex="20">
          <div fxLayout="row" fxLayoutGap="30px">
            <div fxFlex="10"></div>
            <div fxFlex="20">
              <div fxLayout="column" class="circle-blue circle" fxLayoutGap="15px">
                <div fxFlex="10"></div>
                <div fxFlex="10">
                  <mat-icon class="md-24">stars </mat-icon>
                </div>
              </div>
            </div>
            <div fxFlex="40">
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxFlex="10"></div>
                <div fxFlex="10" class="NewClients-text">
                  <b> 352</b>
                  <div class="newClients-color">New clients</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div fxFlex="20" class="firstrow">
      <div fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="10"></div>
        <div fxFlex="20">
          <div fxLayout="row" fxLayoutGap="30px">
            <div fxFlex="10"></div>
            <div fxFlex="20">
              <div fxLayout="column" class="circle-pink circle" fxLayoutGap="15px">
                <div fxFlex="10"></div>
                <div fxFlex="10">
                  <mat-icon class="md-24">account_circle </mat-icon>
                </div>
              </div>
            </div>
            <div fxFlex="40">
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxFlex="10"></div>
                <div fxFlex="10" class="NewClients-text">
                  <b> 159</b>
                  <div class="newClients-color">New clients</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <br> -->

  <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50" class="secondrow">
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxFlex="10"></div>
        <div fxFlex="10">
          <div fxLayout="row">
            <div fxFlex="10"></div>
            <div fxFlex="50">
              <div class="chart-heading">Sales Overview</div>
              <div class="chart-label chart-color">Admin Vs Material Admin</div>
            </div>
          </div>
        </div>
        <div fxFlex="10">
          <!-- <app-chart></app-chart> -->
          <app-bar-chart></app-bar-chart>
        </div>
      </div>
    </div>

    <div fxFlex="40" class="secondrow">
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxFlex="10"></div>
        <div fxFlex="10">
          <div fxLayout="row">
            <div fxFlex="10"></div>
            <div fxFlex="50">
              <div class="chart-heading">Our Visitors</div>
              <div class="chart-label chart-color">Different Divices Used to Visit</div>
            </div>
          </div>
        </div>
        <div fxFlex="10">
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
    </div>
  </div>

  <!-- <br> -->

  <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutAlign="space-around center" fxLayoutGap="0.5%">
    <div fxFlex="28" class="thirdrow1">
      <div fxLayout="row  ">
        <div fxFlex="40">
          <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="space-around center">
            <div fxFlex="10"></div>
            <div fxFlex="10">
              <b class="middlecart-text">Purchase</b>
              <div class="middlecard-date">March 2017</div>
            </div>
            <div fxFlex="10" class="middle-num-text">35487</div>
          </div>
        </div>

        <div fxFlex="50" >

          <div fxLayout="column" fxLayoutGap="30px">
            <div fxFlex="10"></div>
            <div fxFlex="50" fxLayout="row"   >
              <app-small-chart></app-small-chart>
            </div>
          </div>
         
        </div>

      </div>
    </div>

    <div fxFlex="28" class="thirdrow">
      <div fxLayout="row   ">
        <div fxFlex="40" class="iconalign">
          <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="space-around center">
            <div fxFlex="10"></div>
            <div fxFlex="10">
              <b class="middlecart-text">Expenses</b>
              <div class="middlecard-date">March 2017</div>
            </div>
            <div fxFlex="10" class="middle-num-text">35487</div>
          </div>
        </div>

        <div fxFlex="50">
            <div fxLayout="column" fxLayoutGap="30px">
                <div fxFlex="10"></div>
                <div fxFlex="50" fxLayout="row"   >
                  <app-small-chart></app-small-chart>
                </div>
              </div>
        </div>
      </div>
    </div>

    <div fxFlex="28" class="thirdrow3">
      <div fxLayout="row  ">
        <div fxFlex="40" class="iconalign">
          <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="space-around center">
            <div fxFlex="10"></div>
            <div fxFlex="10">
              <b class="middlecart-text">Income</b>
              <div class="middlecard-date">March 2017</div>
            </div>
            <div fxFlex="10" class="middle-num-text">35487</div>
          </div>
        </div>
        <div fxFlex="50">
            <div fxLayout="column" fxLayoutGap="30px">
                <div fxFlex="10"></div>
                <div fxFlex="50" fxLayout="row"   >
                  <app-small-chart></app-small-chart>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <br> -->

  <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="33">
      <mat-card>
        <div><img mat-card-image src="../assets/img.jpg"></div>

        <mat-card-content>
          <p style="font-size:23px;">
            The Shiba Inu is the smallest of the six original and distinct
            spitz breeds
            of dog from Japan. A small, agile dog that copes very
            with mountainous terrain
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="button">
            <button mat-flat-button color="primary">LIKE</button>
            <button mat-button>SHARE</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="55" class="fourthrow2">
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxFlex="10"></div>
        <div fxFlex="10">
          <div fxLayout="row">
            <div fxFlex="10"></div>
            <div fxFlex="50">
              <div class="chart-heading">Newsletter Campaign</div>
              <div class="chart-label chart-color">Overview of Newsletter Campaign</div>
            </div>
          </div>
        </div>
        <div fxFlex="10">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>

    </div>
  </div>
  <!-- <br> -->

  <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="33" class="card">
      <mat-card>
        <div>
          <img mat-card-image src="../assets/profile.jpg">
        </div>

        <mat-card-content>
          <div fxLayout="column">
            <div fxFlex="10" fxLayoutAlign="center center" style="margin-top:-70px;">
              <img src="../assets/3.jpg" height="128px" width="128px" class="round-image">
            </div>
            <div fxFlex="10" fxLayoutAlign="center center">
              <div class="card-text"> Angela Dominic</div>
            </div>
            <div fxFlex="20" fxLayoutAlign="center center">
              <div class="card-text1">Web Designer & Developer</div>
            </div>
            <div fxFlex="20" fxLayoutAlign="center center">
              <mat-card-actions>
                <div class="profile-button">
                  <button mat-flat-button color="primary">Follow</button>
                </div>
              </mat-card-actions>
            </div>

            <div fxFlex="20">
              <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="20">
                  <div class="profile-font">1019</div>
                  <div>Articles</div>

                </div>
                <div fxFlex="20">
                  <div class="profile-font">23,469</div>
                  <div>Followers</div>
                </div>
                <div fxFlex="20">
                  <div class="profile-font">1019</div>
                  <div>Likes</div>
                </div>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="55" class="activity-card">

      <mat-tab-group dynamicHeight>
        <mat-tab label="First">
          <div fxLayout="column" fxLayoutGap="30px">
            <div fxFlex="20"></div>

            <div fxFlex="20">
              <div fxLayout="row">
                <div fxFlex="10"></div>
                <div fxFlex="10">
                  <img src="../assets/2.jpg" height="60px" width="60px" class="round-image">
                </div>
                <div fxFlex="70">
                  <div fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex="20"><span class="activity-user">Nirav Joshi</span><span class="activity-text">(5 min
                        ago)</span></div>
                    <div fxFlex="20" class="activity-text">
                      Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                      Integer nec odio. Praesent libero.
                    </div>
                    <div fxFlex="20">
                      <img src="../assets/img2.jpg" height="62px" width="92px">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex="20">
              <div fxLayout="row">
                <div fxFlex="10"></div>
                <div fxFlex="10">
                  <img src="../assets/2.jpg" height="60px" width="60px" class="round-image">
                </div>
                <div fxFlex="70">
                  <div fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex="20"><span class="activity-user">Vishal Bhatt</span><span class="activity-text">(1 min
                        ago)</span></div>
                    <div fxFlex="20" class="activity-text">
                      Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                      Integer nec odio. Praesent libero.
                    </div>
                    <div fxFlex="20">
                      <button mat-raised-button color="primary">Check Now</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex="20">
              <div fxLayout="row">
                <div fxFlex="10"></div>
                <div fxFlex="10">
                  <img src="../assets/3.jpg" height="60px" width="60px" class="round-image">
                </div>
                <div fxFlex="70">
                  <div fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex="20"><span class="activity-user">Dhiren Adsera</span><span class="activity-text">(3 min
                        ago)</span></div>
                    <div fxFlex="20" class="activity-text">
                      Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                      Integer nec odio. Praesent libero.
                    </div>
                    <div fxFlex="20">
                      <img src="../assets/img2.jpg" height="62px" width="92px">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex="20"></div>

          </div>
        </mat-tab>

        <mat-tab label="Second">
          <div fxLayout="column" fxLayoutGap="30px">
            <div fxFlex="20"></div>

            <div fxFlex="20">
              <div fxLayout="row">
                <div fxFlex="10"></div>
                <div fxFlex="80">
                  <div class="formLayout">Form Basic Layouts</div>
                  <mat-form-field class="input-width">
                    <input matInput placeholder="Some text value">
                  </mat-form-field>

                  <mat-form-field class="input-width">
                    <input matInput placeholder="Emailid">
                  </mat-form-field>

                  <mat-form-field class="input-width">
                    <input matInput placeholder="Password">
                  </mat-form-field>

                  <mat-form-field class="input-width">
                    <mat-select placeholder="Select">
                      <mat-option value="option">Option1</mat-option>
                      <mat-option value="option">Option2</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="input-width">
                    <textarea matInput placeholder="Textarea"></textarea>
                  </mat-form-field>
                  <button mat-raised-button color="primary">Update Profile</button>
                </div>
              </div>
            </div>
            <div fxFlex="20"></div>
          </div>

        </mat-tab>
      </mat-tab-group>


    </div>
  </div>
  <div fxFlex="20"></div>
</div>
<!-- <br> -->