<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5%">
  <div fxFlex="20" class="firstrow">
    <div fxLayout="column" fxLayoutGap="30px">
      <div fxFlex="10"></div>
      <div fxFlex="20">
        <div fxLayout="row" fxLayoutGap="30px">
          <div fxFlex="10"></div>
          <div fxFlex="20">
            <div fxLayout="column" class="circle circle circle-1" fxLayoutGap="15px">
              <div fxFlex="10"></div>
              <div fxFlex="10">
                <mat-icon class="md-24">account_circle </mat-icon>
              </div>
            </div>
          </div>
          <div fxFlex="40">
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxFlex="10"></div>
              <div fxFlex="10" class="NewClients-text">
                <b> 386 </b>
                <div class="newClients-color">New clients</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="20" class="firstrow">
    <div fxLayout="column" fxLayoutGap="30px">
      <div fxFlex="10"></div>
      <div fxFlex="20">
        <div fxLayout="row" fxLayoutGap="30px">
          <div fxFlex="10"></div>
          <div fxFlex="20">
            <div fxLayout="column" class="circle-yellow circle" fxLayoutGap="15px">
              <div fxFlex="10"></div>
              <div fxFlex="10">
                <mat-icon class="md-24">local_mall </mat-icon>
              </div>
            </div>
          </div>
          <div fxFlex="40">
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxFlex="10"></div>
              <div fxFlex="10" class="NewClients-text">
                <b> 2408 </b>
                <div class="newClients-color">All Projects</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="20" class="firstrow">
    <div fxLayout="column" fxLayoutGap="30px">
      <div fxFlex="10"></div>
      <div fxFlex="20">
        <div fxLayout="row" fxLayoutGap="30px">
          <div fxFlex="10"></div>
          <div fxFlex="20">
            <div fxLayout="column" class="circle-blue circle" fxLayoutGap="15px">
              <div fxFlex="10"></div>
              <div fxFlex="10">
                <mat-icon class="md-24">stars </mat-icon>
              </div>
            </div>
          </div>
          <div fxFlex="40">
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxFlex="10"></div>
              <div fxFlex="10" class="NewClients-text">
                <b> 352</b>
                <div class="newClients-color">New clients</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div fxFlex="20" class="firstrow">
    <div fxLayout="column" fxLayoutGap="30px">
      <div fxFlex="10"></div>
      <div fxFlex="20">
        <div fxLayout="row" fxLayoutGap="30px">
          <div fxFlex="10"></div>
          <div fxFlex="20">
            <div fxLayout="column" class="circle-pink circle" fxLayoutGap="15px">
              <div fxFlex="10"></div>
              <div fxFlex="10">
                <mat-icon class="md-24">account_circle </mat-icon>
              </div>
            </div>
          </div>
          <div fxFlex="40">
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxFlex="10"></div>
              <div fxFlex="10" class="NewClients-text">
                <b> 159</b>
                <div class="newClients-color">New clients</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<br>

<div fxLayout="row"  fxLayoutAlign="space-around center" >
  <div fxFlex="50" class="secondrow">
    <div fxLayout="column" fxLayoutGap="20px">
      <div fxFlex="10"></div>
      <div fxFlex="10">
        <div fxLayout="row">
          <div fxFlex="10"></div>
          <div fxFlex="50">
            <div class="chart-heading">Sales Overview</div>
            <div class="chart-label chart-color" >Admin Vs Material Admin</div>
          </div>
        </div>
      </div>
      <div fxFlex="10">
          <app-chart></app-chart>
      </div>
    </div>
  </div>

  <div fxFlex="40" class="secondrow">
      <div fxLayout="column" fxLayoutGap="20px">
          <div fxFlex="10"></div>
          <div fxFlex="10">
            <div fxLayout="row">
              <div fxFlex="10"></div>
              <div fxFlex="50">
                <div class="chart-heading">Our Visitors</div>
                <div class="chart-label chart-color" >Different Divices Used to Visit</div>
              </div>
            </div>
          </div>
          <div fxFlex="10">
              <app-pie-chart></app-pie-chart>
          </div>
        </div>
  </div>
</div>

<br>

<div fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutAlign="space-around center"
  fxLayoutGap="0.5%">
  <div fxFlex="28" class="thirdrow1">
    <div fxLayout="row  ">
      <div fxFlex="40">
        <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="space-around center" >
          <div fxFlex="10"></div>
          <div fxFlex="10">
            <b  class="middlecart-text">Purchase</b>
            <div class="middlecard-date">March 2017</div>
          </div>
          <div fxFlex="10" class="middle-num-text">35487</div>
        </div>
      </div>

      <div fxFlex="50">2</div>
    </div>
  </div>

  <div fxFlex="28" class="thirdrow">
    <div fxLayout="row   ">
      <div fxFlex="40" class="iconalign">
        <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="space-around center" >
            <div fxFlex="10"></div>
            <div fxFlex="10">
              <b  class="middlecart-text">Expenses</b>
              <div class="middlecard-date">March 2017</div>
            </div>
            <div fxFlex="10" class="middle-num-text">35487</div>
          </div>
        </div>
        
      <div fxFlex="50">2</div>
    </div>
  </div>

  <div fxFlex="28" class="thirdrow3">
    <div fxLayout="row  ">
      <div fxFlex="40" class="iconalign">
        <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="space-around center" >
            <div fxFlex="10"></div>
            <div fxFlex="10">
              <b  class="middlecart-text">Income</b>
              <div class="middlecard-date">March 2017</div>
            </div>
            <div fxFlex="10" class="middle-num-text">35487</div>
          </div>
        </div>
      <div fxFlex="50">2</div>
    </div>
  </div>
</div>

<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5%">
  <div fxFlex="33">
    <mat-card>
      <div><img mat-card-image src="../assets/img.jpg"></div>

      <mat-card-content>
        <p style="font-size:23px;">
          The Shiba Inu is the smallest of the six original and distinct
          spitz breeds
          of dog from Japan. A small, agile dog that copes very
          with mountainous terrain
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="button">
          <button mat-flat-button color="primary">LIKE</button>
          <button mat-button>SHARE</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="55" class="fourthrow2">2</div>
</div>
<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5%">
  <div fxFlex="33">
    <mat-card>
      <div>
        <img mat-card-image src="../assets/profile.jpg">
      </div>

      <mat-card-content>
        <div class="profile-text">
          <div style="font-size:25px;">Angela Dominic</div>
          <div style="font-size:20px;">Web Designer & Developer</div>
        </div>

        <mat-card-actions>
          <div class="profile-button">
            <button mat-flat-button color="primary">Follow</button>
          </div>
        </mat-card-actions>
      </mat-card-content>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="20">
          <div class="profile-font">1019</div>
          <div>Articles</div>

        </div>
        <div fxFlex="20">
          <div class="profile-font">23,469</div>
          <div>Followers</div>
        </div>
        <div fxFlex="20">
          <div class="profile-font">6035</div>
          <div>Likes</div>
        </div>
      </div>

    </mat-card>

  </div>
  <div fxFlex="55" class="fourthrow2">2</div>
</div>
<br>