<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5%">
  <div fxFlex="20" class="firstrow">
    <div fxLayout="row" fxFill>
      <div fxFlex="40" class="iconalign">
        <div class="circle circle circle-1">
          <mat-icon class="image" svgIcon="client"></mat-icon>
        </div>
      </div>
      <div fxFlex="50" fxFill>
        <div class="first-row-text">
          <b style="font-size:25px;">386</b><br>
          New Clients
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="20" class="firstrow">
    <div fxLayout="row" fxFill>
      <div fxFlex="40" class="iconalign">
        <div class="circle-yellow circle">
          <mat-icon class="image" svgIcon="client"></mat-icon>
        </div>
      </div>
      <div fxFlex="50" fxFill>
        <div class="first-row-text">
          <b style="font-size:25px;">386</b><br>
          New Clients
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="20" class="firstrow">
    <div fxLayout="row" fxFill>
      <div fxFlex="40" class="iconalign">
        <div class="circle-blue circle">
          <mat-icon class="image" svgIcon="client"></mat-icon>
        </div>
      </div>
      <div fxFlex="50" fxFill>
        <div class="first-row-text">
          <b style="font-size:25px;">386</b><br>
          New Clients
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="20" class="firstrow">
    <div fxLayout="row" fxFill>
      <div fxFlex="40" class="iconalign">
        <div class="circle-pink circle">
          <mat-icon class="image" svgIcon="client"></mat-icon>
        </div>
      </div>
      <div fxFlex="50" fxFill>
        <div class="first-row-text">
          <b style="font-size:25px;">386</b><br>
          New Clients
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5%">
  <div fxFlex="70" class="secondrow">1 </div>
  <div fxFlex="20" class="secondrow">
    <app-chart></app-chart>
  </div>
</div>

<br>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutAlign="space-around center"
  fxLayoutGap="0.5%">
  <div fxFlex="28" class="thirdrow1">
    <div fxLayout="row  ">
      <div fxFlex="40" class="iconalign">
        <div class="third-row-text">
          <div class="third-text1"><b>Purches</b></div>
          <div class="third-text2">March 2017</div>
          <p class="third-text3">35487</p>
        </div>
      </div>
      <div fxFlex="50">2</div>
    </div>
  </div>

  <div fxFlex="28" class="thirdrow">
    <div fxLayout="row  ">
      <div fxFlex="40" class="iconalign">
        <div class="third-row-text">
          <div class="third-text1"><b>Expense</b></div>
          <div class="third-text2">March 2017</div>
          <p class="third-text3">35487</p>
        </div>
      </div>
      <div fxFlex="50">2</div>
    </div>
  </div>

  <div fxFlex="28" class="thirdrow3">
    <div fxLayout="row  ">
      <div fxFlex="40" class="iconalign">
        <div class="third-row-text">
          <div class="third-text1"><b>Income</b></div>
          <div class="third-text2">March 2017</div>
          <p class="third-text3">35487</p>
        </div>
      </div>
      <div fxFlex="50">2</div>
    </div>
  </div>
</div>

<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5%">
  <div fxFlex="33">
    <mat-card>
      <div><img mat-card-image src="../assets/img.jpg"></div>

      <mat-card-content>
        <p style="font-size:23px;">
          The Shiba Inu is the smallest of the six original and distinct
          spitz breeds
          of dog from Japan. A small, agile dog that copes very
          with mountainous terrain
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="button">
          <button mat-flat-button color="primary">LIKE</button>
          <button mat-button>SHARE</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="55" class="fourthrow2">2</div>
</div>
<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5%">
  <div fxFlex="33">
    <mat-card>
      <div>
        <img mat-card-image src="../assets/profile.jpg">
      </div>

      <mat-card-content>
        <div class="profile-text">
          <div style="font-size:25px;">Angela Dominic</div>
          <div style="font-size:20px;">Web Designer & Developer</div>
        </div>

        <mat-card-actions>
          <div class="profile-button">
            <button mat-flat-button color="primary">Follow</button>
          </div>
        </mat-card-actions>
      </mat-card-content>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="20">
          <div class="profile-font">1019</div>
          <div>Articles</div>

        </div>
        <div fxFlex="20">
          <div class="profile-font">23,469</div>
          <div>Followers</div>
        </div>
        <div fxFlex="20">
          <div class="profile-font">6035</div>
          <div>Likes</div>
        </div>
      </div>

    </mat-card>

  </div>
  <div fxFlex="55" class="fourthrow2">2</div>
</div>
<br>











